<!DOCTYPE html>
<html lang="en">
<head>
    <title>Participants</title>
</head>
<body>

<table>
    <tr>
        <th>Name</th>
        <th>Currency</th>
    </tr>
    <% for(let p of participants) { %>
        <tr>

            <td><%= p.name %></td>
            <td><%= p.currency %></td>
        </tr>
    <% } %>
</table>

</body>
</html>
